.about {
  font-size: 0.8em;
}

.about img {
  width: 100px;
  margin-left: 10px;
}

.thumbnail-gallery {
  text-align: center;
}

.thumbnail-gallery img {
  width: 100%;
}

.thumbnail-gallery h5, 
.thumbnail-gallery p {
  padding: 0;
  margin: 0;
}

.thumbnail-gallery a.btn { width: 100%; }

.thumbnail-gallery .description {
  font-size: 0.8em;
}

.thumbnail-gallery .additional-info {
  font-size: 0.8em;
}
